body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clues-container {
  max-height: 300px;
  width: 50%;
  overflow: scroll;
}

.game-container {
  float: left;
  align-items: center;
}

.timer-div {
  float: right;
  /* align-items: flex-start; */
}

.h1-header {
  align-content: center;
}

.hidden-div {
  color: white;
}
